<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue.js入門 Chapter 4</title>
<style>
/* 本来はここで CSS を書く */
</style>
</head>
<body>

<div id="app">
	<nav>
		<!-- router-link によるナビゲーション定義 -->
		<router-link to="/top">トップ</router-link>
		<router-link to="/users">ユーザー一覧</router-link>
		<router-link to="/users/new?redirect=true">新規ユーザ登録</router-link>
		<router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
		<router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
	</nav>
	<router-view></router-view>
</div>

<!-- Vue.js本体とVue Routerの読み込み-->
<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<!-- コンポーネントのテンプレート定義 -->
<!-- ユーザ一覧 -->
<script type="text/x-template" id="user-list">
<div>
		<div class="loading" v-if="loading">読み込み中...</div>
		<div v-if="error" class="error">
			{{ error }}
		</div>
		<!-- usersがロードされたら各ユーザの名前を表示する -->
		<div v-for="user in users" :key="user.id">
			<router-link :to="{ path: '/users/' + user.id }">{{ user.name }}</router-link>
		</div>
</div>
</script>

<!-- ユーザ詳細 -->
<script type="text/x-template" id="user-detail">
<div>
	<div class="loading" v-if="loading">読み込み中...</div>
	<div v-if="error" class="error">
		{{ error }}
	</div>
	<div v-if="user">
		<h2>{{ user.name }}</h2>
		<p>{{ user.description }}</p>
	</div>
</div>
</script>

<!-- ユーザ登録 -->
<script type="text/x-template" id="user-create">
<div>
	<div class="sending" v-if="sending">Sending...</div>
	<div>
		<h2>新規ユーザ作成</h2>
		<div>
			<label>名前</label>
			<input type="text" v-model="user.name">
		</div>
		<div>
			<label>説明文</label>
			<textarea v-model="user.description"></textarea>
		</div>
		<div v-if="error" class="error">
			{{ error }}
		</div>
		<div>
			<input type="button" @click="createUser" value="送信">
		</div>
	</div>
</div>
</script>

<!-- ログイン -->
<script type="text/x-template" id="login">
<div>
		<h2>Login</h2>
		<p v-if="$route.query.redirect">ログインしてください</p>
		<form @submit.prevent="login">
			<label><input v-model="email" placeholder="email"></label>
			<label><input v-model="pass" placeholder="password" type="password"></label><br>
			<button type="submit">ログイン</button>
			<p v-if="error" class="error">ログインに失敗しました</p>
		</form>
</div>
</script>

<script>
// 認証用モジュール
var Auth = {
	login: function(email, pass, cb) {
		// ダミーデータを使った疑似ログイン
		setTimeout(function() {
			if (email === 'vue@example.com' && pass === 'vue') {
				// ログイン成功時はローカルストレージにtokenを保持する
				localStorage.token = Math.random().toString(36).substring(7)
				if (cb) { cb(true) }
			} else {
				if (cb) { cb(false) }
			}

		}, 0)
	},

	logout: function() {
		delete localStorage.token
	},

	loggedIn: function() {
		// ローカルストレージにtokenがあればログイン状態とみなす
		return !!localStorage.token
	}
}

// JSONを返す関数
// 擬似的にWeb API経由で情報を取得したようにする
var getUsers = function(callback) {
	setTimeout(function() {
		callback(null, [
		{
			id: 1,
			name: 'Ika Yoroshiku'
		},
		{
			id: 2,
			name: 'Tako Nuritakuru'
		}
		])
	}, 1000)
}

// 一覧ページのコンポーネント
var UserList = {
	// HTML上のscriptタグのidを指定する
	template: '#user-list',
	data: function() {
		return {
			loading: false,
			users: function() { return [] }, // 初期値の空配列
			error: null
		}
	},

	// 初期化時にデータを取得する
	created: function() {
		this.fetchData()
	},

	// $route の変更をwatchすることでルーティングが変更されたときに再度データを取得
	watch: {
		'$route': 'fetchData'
	},

	methods: {
		fetchData: function() {
			this.loading = true
			// 取得したデータの結果を users に格納する
			// Function.prototype.bind は this のスコープを渡すために利用
			getUsers((function(err, users) {
				this.loading = false
				if (err) {
					this.error = err.toString()
				} else {
					this.users = users
				}
			}).bind(this))
		}
	}
}

var userData = [
	{
		id: 1,
		name: 'Ika Yoroshiku',
		description: 'ナワバリバトルが大好きなイカです。'
	},
	{
		id: 2,
		name: 'Tako Nuritakuru',
		description: 'シオカラ節のグループが宿ったタコです。'
	}
]

// 擬似的にAPI経由で情報を取得したようにする
var getUser = function(userId, callback) {
	setTimeout(function() {
		var filteredUsers = userData.filter(function(user) {
			return user.id === parseInt(userId, 10)
		})
		callback(null, filteredUsers && filteredUsers[0])
	}, 1000)
}

// 詳細ページのコンポーネント
var UserDetail = {
	template: '#user-detail',
	// 初期値のセット
	data: function() {
		return {
			loading: false,
			user: null,
			error: null
		}
	},

	created: function() {
		this.fetchData()
	},

	watch: {
		'$route': 'fetchData'
	},

	methods: {
		fetchData: function() {
			this.loading = true
			// 
			getUser(this.$route.params.userId, (function (err, user) {
				this.loading = false
				if (err) {
					this.error = err.toString()
				} else {
					this.user = user
				}
			}).bind(this))
		}
	}
}

// 擬似的にAPI経由で情報を更新したようにする
// 実際のWebアプリケーションではServerへPOSTリクエストを行う
var postUser = function(params, callback) {
	setTimeout(function() {
		// id は追加されるごとに自動的にincrementされていく
		params.id = userData.length + 1
		userData.push(params)
		callback(null, params)
	}, 1000)
}

// 登録ページのコンポーネント
var UserCreate = {
	template: '#user-create',
	data: function() {
		return {
			sending: false,
			user: this.defaultUser(),
			error: null
		}
	},

	created: function() {
	},

	methods: {
		defaultUser: function() {
			return {
				name: '',
				description: ''
			}
		},

		createUser: function() {
			// 入力パラメータのバリデーション
			if (this.user.name.trim() === '') {
				this.error = 'Nameは必須です'
				return
			}
			if (this.user.description.trim() === '') {
				this.error = 'Descriptionは必須です'
				return
			}
			postUser(this.user, (function(err, user) {
				this.sending = false
				if (err) {
					this.error = err.toString()
				} else {
					this.error = null
					// デフォルトでフォームをリセット
					this.user = this.defaultUser()
					alert('新規ユーザが登録されました')
					// ユーザ一覧ページへ戻る
					this.$router.push('/users')
				}
			}).bind(this))
		}
	}
}

// ログインコンポーネント
var Login = {
	template: '#login',
	data: function() {
		return {
			email: 'vue@example.com',
			pass: '',
			error: false
		}
	},

	methods: {
		login: function() {
			Auth.login(this.email, this.pass, (function(loggedIn) {
				if (!loggedIn) {
					this.error = true
				} else {
					// redirect パラメータがついてる場合はそのパスに遷移
					this.$router.replace(this.$route.query.redirect || '/')
				}

			}).bind(this))
		}
	}
}

var router = new VueRouter({
	routes: [
		{
			path: '/top',
			component: {
				template: '<div>トップページです。</div>'
			}
		},
		{
			path: '/users',
			component: UserList
		},
		{
			path: '/users/new',
			component: UserCreate,
			beforeEnter: function(to, from, next) {
				// 認証されていない状態でアクセスしたときは login ページへ遷移する
				if (!Auth.loggedIn()) {
					next({
						path: '/login',
						query: { redirect: to.fullPath }
					})
				} else {
					// 認証済みであればそのまま新規ユーザ作成ページへ進む
					next()
				}
			}
		},
		{
			path: '/users/:userId',
			component: UserDetail
		},
		{
			path: '/login',
			component: Login
		},
		{
			path: '/logout',
			beforeEnter: function(to, from, next) {
				Auth.logout()
				next('/')
			}
		}
	]
})

var app = new Vue({
	data: {
		Auth: Auth
	},
	router: router
}).$mount('#app')

</script>

</body>
</html>